body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}
body {
    height:100%;
   width:100%;
   background-image: "imad-2016-app/ui/Horse Shoe Bend 2, Page, Arizona.JPG" (image.jpg);
   background-repeat:no-repeat;
   background-size:cover; 
   /*css hack for ie*/     
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.image.jpg',sizingMethod='scale');
   -ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='image.jpg',sizingMethod='scale')";
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}
.img-small {
    height: 100px;
}
.img-medium {
    height: 200px;
}

.container {
        max width: 800px;
        margin: 0 auto;
        color: red;
        font-family: sans serif;
        text-align: justify;
}
