body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}
html { 
  background: imad-2016-app/Horse Shoe Bend, Page, Arizona.JPG no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}
.img-small {
    height: 100px;
}
.img-medium {
    height: 200px;
}

.container {
        max width: 800px;
        margin: 0 auto;
        color: red;
        font-family: sans serif;
        text-align: justify;
}
